{% extends 'base.html' %}
{% block title %} Trainline Gift and Hospitality Register {% endblock %}
{% block body %}
<br>
<br>

<div class="container">

    <h3> <centre> Welcome to the Trainline Gift and Hospitality portal </centre> </h3>
    <br>
    <br>
    <br>
    <br>
<p>     <h4>    As per UK corporate requirements, we are required to ensure that we record and track gifts and hospitality.
    </p>
    <br>
</p>    <h4>        Please use the navigation bar to create or view entries.
</h4> </p>
<br>

<p>    <h4>  Please don't hesitate to contact the <a href = "mailto: andras.horvath@thetrainline.com">Trainline Corporate Secretary</a> in case you have any questions. </h4>
</p>

</div>
{% endblock %}
