{% extends 'base.html' %}
{% block title %} Trainline Gift and Hospitality Register {% endblock %}
{% block body %}
<br>
<br>

<div class="container">

        <h8> <align=left>  <button type = "button" class = "btn btn-warning float-left" data-toggle ="modal"> <a href= "/forms"> Add new entry </a> </button> </align>  </h8>

        <br>
        <br>
    <br>
    <br>

        <h8> <align=right> <button type = "button" class = "btn btn-warning float-center" data-toggle ="modal"> <a href= "/table"> Display register </a> </button>  </align> </h8>


</div>
{% endblock %}
